.home {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  &__text-wrapper{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;


    h1{
        color:var(--yellow-theme-main-color);
        margin: 0;
        font-weight:500 ;
        font-size:8rem;
        line-height: relative;
        overflow: hidden;
        white-space: nowrap;
        animation: typingEffectAnimation 2.5s steps(40, end);
        }
  }
  &__contact-me{
    justify-content: center;
    margin-top:15px;

    button{
        cursor: pointer;
        font-size: 2rem;
        padding: 10px 65px;
        background-color: transparent;
        color: var(--yellow-theme-main-color);
        border:1.5px solid var(--yellow-theme-main-color);
        border-radius:4px;
        font-weight: 500;

        &:hover{
            background-color: var(--yellow-theme-main-color);
            color: #000;
        }

    }
  }

}
@media only screen and (max-width:550px){
   .home__text-wrapper h1{
    font-size: 
    
    
    -1rem;
    color: aqua;
    font-weight: 300;
    letter-spacing: -5;
   } 
}
@media only screen and (max-width:550px) and (max-width:768px){
    .home__text-wrapper h1{
        font-size: 4rem;
       } 
}
@media only screen and (max-width:768px) and (max-width:990px){
    .home__text-wrapper h1{
        font-size: 6rem;
       } 
}
@keyframes typingEffectAnimation {
    from{
        width:0;
    }
    to{
        width:100%;
    }
}